In [1]:
import pandas as pd

In [2]:
from collections import Counter

In [3]:
import re as re

In [4]:
import nltk

In [5]:
dataset = pd.read_csv('gumtree Scrapping data.csv')

In [6]:
dataset.head(5)

,Unnamed: 0,Title,Description,Price,Location,Ad Link,Category,Latitude,Longitude
0,0,Maple dining table with chairs (matching Side ...,Beautiful Solid Queensland fiddleback maple di...,$800 negotiable,"Bayside Area, Brighton",/s-ad/brighton/antiques/maple-dining-table-wit...,antiques-art-collectables,-37.9081962,144.9957991
1,1,Art Deco painting (from original).,Art Deco painting on board with frame from ori...,$600,"Glen Eira Area, Bentleigh",/s-ad/bentleigh/art/art-deco-painting-from-ori...,antiques-art-collectables,-37.9185101,145.0409246
2,2,Art Deco painting on canvas.,"Art Deco painting on canvas from original ""And...",$600,"Glen Eira Area, Bentleigh",/s-ad/bentleigh/art/art-deco-painting-on-canva...,antiques-art-collectables,-37.9185101,145.0409246
3,3,Horse Racing Memorabilia - Black Caviar.,"Black caviar memorabilia framed, in excellent ...","$1,500","Kingston Area, Carrum",/s-ad/carrum/collectables/horse-racing-memorab...,antiques-art-collectables,-38.0767264,145.1280098
4,4,Pokemon Cards Wanted - $Cash Paid$ - Same Day ...,Hey all I‚Äôm into old pokemon cards and am happ...,"$100,000","Melbourne City, Melbourne CBD",/s-ad/melbourne-cbd/collectables/pokemon-cards...,antiques-art-collectables,-37.8152834,144.9618789

In [7]:
dataset['splitwords'] = dataset['Description'].str.split()
dataset.head(2)

,Unnamed: 0,Title,Description,Price,Location,Ad Link,Category,Latitude,Longitude,splitwords
0,0,Maple dining table with chairs (matching Side ...,Beautiful Solid Queensland fiddleback maple di...,$800 negotiable,"Bayside Area, Brighton",/s-ad/brighton/antiques/maple-dining-table-wit...,antiques-art-collectables,-37.9081962,144.9957991,"[Beautiful, Solid, Queensland, fiddleback, map..."
1,1,Art Deco painting (from original).,Art Deco painting on board with frame from ori...,$600,"Glen Eira Area, Bentleigh",/s-ad/bentleigh/art/art-deco-painting-from-ori...,antiques-art-collectables,-37.9185101,145.0409246,"[Art, Deco, painting, on, board, with, frame, ..."

In [8]:
def search_words(text):
    result = re.findall(r'\b[^\d\W]+\b', text)
    return " ".join(result)

In [9]:
words = re.findall('\w+',dataset['Description'].iloc[1])
print(Counter(words).most_common(10))

[('Art', 1), ('Deco', 1), ('painting', 1), ('on', 1), ('board', 1), ('with', 1), ('frame', 1), ('from', 1), ('original', 1), ('Group', 1)]

In [10]:
out = ' '.join(dataset["Description"].astype(str))
out_title = ' '.join(dataset["Title"].astype(str))

In [11]:
words = re.findall('\w+',out)
print(Counter(words).most_common(100))

[('and', 3013), ('to', 1966), ('the', 1706), ('a', 1669), ('for', 1591), ('with', 1516), ('in', 1494), ('is', 1293), ('of', 1138), ('or', 679), ('on', 673), ('you', 646), ('are', 616), ('from', 595), ('up', 568), ('2', 565), ('available', 495), ('The', 470), ('have', 436), ('all', 434), ('at', 427), ('as', 426), ('condition', 425), ('s', 416), ('I', 415), ('your', 403), ('4', 389), ('1', 384), ('5', 384), ('can', 379), ('3', 368), ('our', 357), ('new', 339), ('it', 336), ('be', 330), ('We', 326), ('x', 303), ('6', 276), ('This', 264), ('has', 258), ('will', 247), ('only', 244), ('this', 235), ('not', 225), ('8', 220), ('10', 220), ('Pick', 218), ('by', 218), ('we', 215), ('one', 210), ('good', 210), ('that', 207), ('New', 190), ('pick', 190), ('my', 189), ('an', 189), ('9', 187), ('very', 187), ('if', 181), ('Please', 180), ('also', 179), ('more', 179), ('no', 179), ('used', 176), ('but', 175), ('Size', 172), ('Melbourne', 171), ('been', 168), ('A', 167), ('Box', 167), ('7', 166), ('store', 156), ('12', 154), ('Brand', 153), ('sale', 150), ('size', 150), ('any', 149), ('great', 149), ('room', 149), ('each', 148), ('out', 146), ('quality', 145), ('It', 145), ('well', 142), ('price', 140), ('large', 139), ('All', 138), ('house', 137), ('us', 136), ('me', 136), ('home', 132), ('hours', 131), ('so', 130), ('free', 130), ('just', 129), ('Australia', 127), ('t', 127), ('system', 125), ('delivery', 124), ('other', 121)]

In [12]:
words_title = re.findall('\w+',out_title)
print(Counter(words).most_common(100))

[('and', 3013), ('to', 1966), ('the', 1706), ('a', 1669), ('for', 1591), ('with', 1516), ('in', 1494), ('is', 1293), ('of', 1138), ('or', 679), ('on', 673), ('you', 646), ('are', 616), ('from', 595), ('up', 568), ('2', 565), ('available', 495), ('The', 470), ('have', 436), ('all', 434), ('at', 427), ('as', 426), ('condition', 425), ('s', 416), ('I', 415), ('your', 403), ('4', 389), ('1', 384), ('5', 384), ('can', 379), ('3', 368), ('our', 357), ('new', 339), ('it', 336), ('be', 330), ('We', 326), ('x', 303), ('6', 276), ('This', 264), ('has', 258), ('will', 247), ('only', 244), ('this', 235), ('not', 225), ('8', 220), ('10', 220), ('Pick', 218), ('by', 218), ('we', 215), ('one', 210), ('good', 210), ('that', 207), ('New', 190), ('pick', 190), ('my', 189), ('an', 189), ('9', 187), ('very', 187), ('if', 181), ('Please', 180), ('also', 179), ('more', 179), ('no', 179), ('used', 176), ('but', 175), ('Size', 172), ('Melbourne', 171), ('been', 168), ('A', 167), ('Box', 167), ('7', 166), ('store', 156), ('12', 154), ('Brand', 153), ('sale', 150), ('size', 150), ('any', 149), ('great', 149), ('room', 149), ('each', 148), ('out', 146), ('quality', 145), ('It', 145), ('well', 142), ('price', 140), ('large', 139), ('All', 138), ('house', 137), ('us', 136), ('me', 136), ('home', 132), ('hours', 131), ('so', 130), ('free', 130), ('just', 129), ('Australia', 127), ('t', 127), ('system', 125), ('delivery', 124), ('other', 121)]

In [13]:
banned = ['and', 'to', 'the', 'a', 'for','with', 'in','is', 'of', 'or', 'on', 'you', 'are', 'from', 'up', '2', 'available'
               ,'The', 'Have', 'all', 'at', 'as', 'condition' , 's', 'I', 'your','4',  '1', '5', 'can', '3', 'our', 'new',
                'it', 'be', 'We','x', '6','This','has','will','only','this', 'New', 'pick','my','an','9','very', 'if',
               'Please', 'also','more','no', 'but', 'Size', 'Melbourne', 'been', 'A', '7', 'store', '12', 'Brand', 'sale', 'any'
               ,'great','It', 'well', 'price','All', 'us', 'me', 'so', 'just', 'Australia', 't', 'Hey', "i'm", 'hey',"I\'m",'hi'
         , 'Hi',"I‚Äôm"]

In [14]:
f = lambda x: ' '.join([item for item in x.split() if item not in banned])
dataset["Description_cleaned"] = dataset["Description"].astype(str).apply(f)

In [15]:
f = lambda x: ' '.join([item for item in x.split() if item not in banned])
dataset["Title_cleaned"] = dataset["Title"].astype(str).apply(f)

In [16]:
dataset["Title_cleaned"]

0       Maple dining table chairs (matching Side Board...
1                      Art Deco painting (from original).
2                               Art Deco painting canvas.
3                Horse Racing Memorabilia - Black Caviar.
4       Pokemon Cards Wanted - $Cash Paid$ - Same Day ...
                              ...
2402                                      BMX STYLE BIKE.
2403    Everlast Precision Leather Double-Ended Strike...
2404    Mag Bike Dual-Purpose Bodyworx ADPE 8 Levels R...
2405    UNDER ARMOUR mens compression shorts M *NEW WI...
2406       Everlast Adjustable Speedball Platform In Box.
Name: Title_cleaned, Length: 2407, dtype: object

In [17]:
dataset["Description_cleaned"]

0       Beautiful Solid Queensland fiddleback maple di...
1       Art Deco painting board frame original "Group ...
2       Art Deco painting canvas original "Andromeda N...
3       Black caviar memorabilia framed, excellent con...
4       into old pokemon cards am happy come pickup it...
                              ...
2402    got BMX style bike 20' Weels colour orange AVI...
2403    Everlast double-ended striking bag. ùóûùó≤ùòÜ ùóôùó≤ùóÆùòÅùòÇùóø...
2404    Bodyworx ADPE Duo Exerciser Mag Bike, compact ...
2405             compression pants pay/pickup eltham 3095
2406    24-inch diameter board hold size speedbag 1-in...
Name: Description_cleaned, Length: 2407, dtype: object

In [18]:
from nltk.stem import PorterStemmer
from nltk.stem import LancasterStemmer

In [19]:
porter = PorterStemmer()
lancaster=LancasterStemmer()

In [20]:
from nltk.tokenize import sent_tokenize, word_tokenize
def stemSentence(sentence):
    token_words=word_tokenize(sentence)
    token_words
    stem_sentence=[]
    for word in token_words:
        stem_sentence.append(lancaster.stem(word))
        stem_sentence.append(" ")
    return "".join(stem_sentence)

for i in range(len(dataset)):
    dataset.loc[i,'title_stemmed_cleaned']=stemSentence(dataset.loc[i,'Title_cleaned'])

In [21]:
for i in range(len(dataset)):
    dataset.loc[i,'description_stemmed_cleaned']=stemSentence(dataset.loc[i,'Description_cleaned'])

In [22]:
dataset['title_stemmed_cleaned']

0             mapl din tabl chair ( match sid board al .
1                       art deco paint ( from origin ) .
2                                 art deco paint canva .
3                      hors rac memorabil - black cavi .
4       pokemon card want - $ cash paid $ - sam day pi...
                              ...
2402                                      bmx styl bik .
2403    everlast precid leath double-ended strike bag ...
2404    mag bik dual-purpose bodyworx adp 8 level resi...
2405    und armo men compress short m * new with tag * .
2406          everlast adjust speedbal platform in box .
Name: title_stemmed_cleaned, Length: 2407, dtype: object

In [23]:
dataset['description_stemmed_cleaned']

0       beauty solid queensland fiddleback mapl din ta...
1       art deco paint board fram origin `` group four...
2       art deco paint canva origin `` andromed nud ''...
3       black cavi memorabil fram , excel condit . 115...
4       into old pokemon card am happy com pickup item...
                              ...
2402    got bmx styl bik 20 ' weel colo orang avigostr...
2403    everlast double-ended striking bag . ùóûùó≤ùòÜ ùóôùó≤ùóÆùòÅùòÇ...
2404    bodyworx adp duo exerc mag bik , compact dual-...
2405                compress pant pay/pickup eltham 3095
2406    24-inch diamet board hold siz speedb 1-inch th...
Name: description_stemmed_cleaned, Length: 2407, dtype: object

In [25]:
from nltk.stem import WordNetLemmatizer

In [26]:
lemmatizer = WordNetLemmatizer()

In [27]:
from nltk.tokenize import sent_tokenize, word_tokenize
def lemmatizeSentence(sentence):
    token_words=word_tokenize(sentence)
    token_words
    stem_sentence=[]
    for word in token_words:
        stem_sentence.append(lemmatizer.lemmatize(word))
        stem_sentence.append(" ")
    return "".join(stem_sentence)

In [28]:
for i in range(len(dataset)):
    dataset.loc[i,'title_lemma_cleaned']=lemmatizeSentence(dataset.loc[i,'Title_cleaned'])

for i in range(len(dataset)):
    dataset.loc[i,'description_lemma_cleaned']=lemmatizeSentence(dataset.loc[i,'Description_cleaned'])